html, body {
    background-color: #1f1f1f;
    height: 100%;
    overflow: hidden;
    /*font: caption;*/
    margin: 0;
    font-family: monospace;
}

.container {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 100%;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    background: Transparent no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    outline: none;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

button:hover {
    background: #eee;
    color: black;
}

#log {
    position: fixed;
    top: 7px;
    right: 10px;
    color: #00eb02;
    font-size: 16px;
    opacity: 0;
}

.fadeOut {
    -webkit-animation: fadeOutUp 3s;
    -o-animation: fadeOutUp 3s;
    animation: fadeOutUp 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}